{% extends 'base.html' %}
{% load bootstrap3 %}

{% block contenido %}
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>{{ user.get_full_name }}</h1>
                            <img src="{{ STATIC_URL }}admin/img/a4.jpg">
                        </div>

                        <div class="col-sm-6 text-right">

                            <h4 class="text-navy">{% if usuario.puntuacion %}{{ usuario.puntuacion }}{% else %} Sin puntuar {% endif %}</h4>
                            <span>{% if usuario.edad %}{{ usuario.edad }} años{% else %} No hay fecha de nacimiento registrada {% endif %}</span>
                            <address>
                                <strong>{{ usuario.get_genero_display }}</strong><br>
                                {{ usuario.email }} <br>
                            </address>
                            <p>
                                <span><strong>Nombre de usuario:</strong> {{ usuario.username }}</span><br/>
                                <span><strong>Fecha de registro:</strong> {{ usuario.date_joined }}</span>
                            </p>
                        </div>
                    </div>

                    <div class="table-responsive m-t">
                        <table class="table invoice-table">
                            <thead>
                            <tr>
                                <th>Ultimos comentarios</th>
                                <th>Fecha</th>
                                <th>Enlace</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for c in comentarios %}
                            <tr>
                                <td><div><strong>{{ c.evento.nombre }}</strong></div>
                                    <small>{{ c.descripcion }}</small></td>
                                <td>{{ c.fecha }}</td>
                                <td><a href="{% url 'ver_evento' c.evento.id %}"><i class="fa fa-calendar"></i> Ver evento</td></a>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% if not comentarios %}
                        <p align="center"> No has hecho comentarios</p>
                    {% endif %}
                    </div><!-- /table-responsive -->


                    <!--div class="well m-t"><strong>Comments</strong>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                    </div-->
                </div>
        </div>
    </div>
{% endblock %}