<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Add Your favicon here -->
    <!--<link rel="icon" href="img/favicon.ico">-->

    <title>DoSports - Pagina principal</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}landing_page/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="{{STATIC_URL}}landing_page/css/animate.min.css" rel="stylesheet">

    <link href="{{STATIC_URL}}landing_page/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}landing_page/css/style.css" rel="stylesheet">
</head>
<body id="page-top">
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">DoSports</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Inicio</a></li>
                        <li><a class="page-scroll" href="#features">Servicio</a></li>
                        <li><a class="page-scroll" href="#team">Nuestro Equipo</a></li>
                        <li><a class="page-scroll" href="#contact">Contacto</a></li>
                        <li><a class="page-scroll" href="{% url 'login' %}">Login</a></li>
                        <li><a class="page-scroll" href="{% url 'crear_usuario' %}">Registrarse</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption blank">
                    <img src="{{ STATIC_URL }}logo.png">
                    <h1>Salud y diversion en un mismo lugar </h1>

                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <img src="{{ STATIC_URL }}logo_azul.png">
                    <h1>Disfruta tu evento, nosotros lo gestionamos por ti</h1>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>CREACIÓN DE EVENTOS</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="col-sm-3">
            <h2>SUSCRIPCION A EVENTOS</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="col-sm-3">
            <h2>CALENDARIO DE EVENTOS</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="col-sm-3">
            <h2>MAPAS,PERFIL,...</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
    </div>
</section>

<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Muchos deportes y lugares de Cáceres<br/> <span class="navy"> En desarrollo para muchas mas funcionalidades</span> </h1>
            <p>Desarrollado por DoSports HackForGood </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-mobile features-icon"></i>
                <h2>Aplicación Movil</h2>
            </div><br><br><br>
            <div class="m-t-lg">
                <i class="fa fa-calendar features-icon"></i>
                <h2>Calendario</h2>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="{{STATIC_URL}}landing_page/img/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-tasks features-icon"></i>
                <h2>Listado y busqueda de eventos</h2>
            </div><br><br><br>
            <div class="m-t-lg">
                <i class="fa fa-facebook features-icon"></i>
                <h2>Redes Sociales</h2>
            </div>
        </div>
    </div>
</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Nuestro Equipo</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="{{STATIC_URL}}landing_page/img/avatar3.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Cristina</span> Extremera</h4>
                    <p>Estudiante de Ingeniería del Software con experiencia en desarrollo de aplicaciones Android y web, Java, C++, CSS, Javascript, PostgresSQL. </p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="{{STATIC_URL}}landing_page/img/avatar1.jpg" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">Daniel</span> Correa</h4>
                    <p>Estudiante de Ingeniería de sistemas con experiencia en desarrollo de aplicaciones web, con amplia experiencia en HTML5, CSS3, Boostrap, Javascript, Java, Python y C++. Trabajando actualmente sobre interoperabilidad y modelos Multitenant.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="{{STATIC_URL}}landing_page/img/avatar2.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Daniel</span> Rodriguez</h4>
                    <p>Estudiante de Ciencias de la Actividad Fisica y del Deporte y Master en Emprendimiento e Innivacion, formacion de creacion de empresas, actualmente desarrollando su propia StartUp en el programa YUZZ. </p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="{{STATIC_URL}}landing_page/img/avatar4.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Alberto</span> Ricci</h4>
                    <p>Estudiante de Ingeniería en Computadores con experiencia en Java, C++, paralelización en rendimiento (OpenMP,MPI,...)</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight"></div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="{{STATIC_URL}}landing_page/img/avatar9.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Gerardo</span> Bernal</h4>
                    <p>Estudiante de Ingeniería del Software con experencia en HTML5 y aplicaciones Android.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contacto</h1>
                <p>Equipo de HackForGood 2016, sede de Caceres.</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <address>
                    <strong><span class="navy">Company DoSports.</span></strong><br/>
                    Av. de la Universidad<br/>
                    Escuela Politecnica,10004, Caceres<br/>
                    <abbr title="Phone">Telefono:</abbr> (+34) 123456798
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:dcorreab@alumnos.unex.es" class="btn btn-primary">Envianos Tu e-mail</a>
                <p class="m-t-sm">
                    Siguenos en nuestras redes sociales
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2016 Company DoSports.</strong><br/></p>
            </div>
        </div>
    </div>
</section>

<script src="{{STATIC_URL}}landing_page/js/jquery-2.1.1.js"></script>
<script src="{{STATIC_URL}}landing_page/js/pace.min.js"></script>
<script src="{{STATIC_URL}}landing_page/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}landing_page/js/classie.js"></script>
<script src="{{STATIC_URL}}landing_page/js/cbpAnimatedHeader.js"></script>
<script src="{{STATIC_URL}}landing_page/js/wow.min.js"></script>
<script src="{{STATIC_URL}}landing_page/js/inspinia.js"></script>
</body>
</html>
