{% extends 'base.html' %}
{% load bootstrap3 %}
{% block css %}
    {{ form.media }}
{% endblock %}
{% block contenido %}
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Creación de eventos <small>Crear un evento deportivo.</small></h5>
            </div>
            <div class="ibox-content">
                <form method="post" action="" class="form-horizontal">{% csrf_token %}
                    {% comment %}
                    <div class="col-lg-6">
                        {% bootstrap_field form.fecha %}
                    </div>
                    {% endcomment %}
                    <div class="col-lg-6">
                        {% bootstrap_field form.nombre %}
                    </div>
                    <div class="col-lg-6">
                        {% bootstrap_field form.plazas %}
                    </div>
                    <div class="col-lg-6">
                        {% bootstrap_field form.dificultad %}
                    </div>
                    <div class="col-lg-6">
                        {% bootstrap_field form.deporte %}
                    </div>
                    <div class="col-lg-6">
                        {% bootstrap_field form.lugar %}
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Crear</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
{% endblock %}