{% extends 'base.html' %}
{% load bootstrap3 %}
{% block css %}

    <!--script src="http://maps.googleapis.com/maps/api/js"></script-->
{% endblock %}
{% block contenido %}
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                {% if evento.porcentaje < 100 and not suscrito%}
                                    <a href="{% url 'suscribirse_evento' evento.id %}" class="btn btn-primary btn-md pull-right">Suscribirse</a>
                                {% elif evento.porcentaje == 100 %}
                                    <span class="pull-right"><strong>No hay plazas disponibles</strong></span>
                                {% elif user.id != evento.creador.id %}
                                    <span class="pull-right"><strong>Ya estas suscrito!</strong></span><br>
                                    <a href="{% url 'anular_suscripcion' evento.id %}" class="btn btn-warning btn-md pull-right">Anular suscripcion</a>
                                {% else %}
                                    <span class="pull-right"><strong>Eres el creador del evento!</strong></span><br>
                                {% endif %}
                                <h2>{{ evento.nombre }}</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>Estado:</dt> <dd><span class="label label-{% if evento.estado %}primary">Abierto{% else %}danger">Cerrado{% endif %}</span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">

                                <dt>Creado por:</dt> <dd>{{ evento.creador.get_full_name }}</dd>
                                <dt>Plazas disponibles:</dt> <dd>  {{ evento.plazas_disponibles }}</dd>
                                <dt>Lugar:</dt> <dd>{{ evento.lugar }}</dd>
                                <dt>Nivel:</dt> <dd> 	{{ evento.get_dificultad_display }} </dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal" >

                                <dt>Fecha:</dt> <dd>{{ evento.fecha }}</dd>
                                <dt>Participantes:</dt>
                                <dd class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="{{STATIC_URL}}admin/img/a3.jpg"></a>
                                <a href=""><img alt="image" class="img-circle" src="{{STATIC_URL}}admin/img/a1.jpg"></a>
                                <a href=""><img alt="image" class="img-circle" src="{{STATIC_URL}}admin/img/a2.jpg"></a>
                                <a href=""><img alt="image" class="img-circle" src="{{STATIC_URL}}admin/img/a4.jpg"></a>
                                <a href=""><img alt="image" class="img-circle" src="{{STATIC_URL}}admin/img/a5.jpg"></a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Completado:</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width: {{ evento.porcentaje }}%;" class="progress-bar"></div>
                                    </div>
                                    <small>Evento completado en un <strong>{{ evento.porcentaje }}%</strong>.</small>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                        <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab-1" data-toggle="tab">Comentarios</a></li>
                                    <li><a href="#tab-2" data-toggle="tab">Mapas</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">

                        <div class="tab-content">
                        <div class="tab-pane active" id="tab-1">
                            <div class="ibox-content">

                        <div class="row">

                            <div class="col-md-12 ">
                                <div class="chat-discussion">
                                    {% for c in comentarios %}
                                    <div class="chat-message">
                                        <img class="message-avatar" src="{{STATIC_URL}}admin/img/a1.jpg" alt="" >
                                        <div class="message">
                                            <a class="message-author" href="#"> {{ c.usuario.get_full_name }} </a>
											<span class="message-date"> {{ c.fecha }} </span>
                                            <span class="message-content">
											{{ c.descripcion }}
                                            </span>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <p>No hay comentarios</p>
                                    {% endfor %}
                                </div>

                            </div>

                        </div>
                        <form action="{% url 'comentar' evento.id %}" method="post">{% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="chat-message-form">
                                        <div class="form-group">
                                            <textarea class="form-control message-input" name="message" placeholder="Ingrese comentario aqui..."></textarea>
                                        </div>

                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-success btn-md pull-right">Enviar</button>
                                </div>

                            </div>
                        </form>


                    </div>

                        </div>


                        <div class="tab-pane" id="tab-2">
                            <div class="ibox-content">
                                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
                                <div class="google-map" id="map1"></div>

                            </div>
                        </div>

                        </div>

                        </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <!--script src="http://maps.googleapis.com/maps/api/js"></script-->
    <script type="text/javascript">
        // When the window has finished loading google map


        function init() {


            //var myLatLng = {lat: -25.363, lng: 131.044};
            var la = parseInt({{ evento.lugar.latitud }});
            var lo = parseInt({{ evento.lugar.longitud }});
            var myLatLng = {lat: 39.488127, lng: -6.411293};

            var map = new google.maps.Map(document.getElementById('map1'), {
              zoom: 11,
              center: myLatLng
            });

            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map
              //title: 'Hello World!'
            });

        }
        $(document).init(function(){
            google.maps.event.addDomListener(window, 'load', init);
        });


    </script>
{% endblock %}